{% raw %}
\documentclass[11pt,letterpaper]{article}

% Page setup
\usepackage[top=0.5in, bottom=0.5in, left=0.6in, right=0.6in]{geometry}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}

% Font
\usepackage{tgheros}
\renewcommand{\familydefault}{\sfdefault}

% Colors
\usepackage{xcolor}
\definecolor{headerblue}{RGB}{0,102,204}
\definecolor{dateblue}{RGB}{0,102,204}
\definecolor{subtextgray}{RGB}{120,120,120}
\definecolor{linegray}{RGB}{200,200,200}

% Other packages
\usepackage{enumitem}
\usepackage{titlesec}
\usepackage{hyperref}
\usepackage{parskip}
\usepackage{multicol}
\usepackage{tabularx}

% Hyperlink setup
\hypersetup{
    colorlinks=true,
    linkcolor=headerblue,
    urlcolor=headerblue,
}

% Remove page numbers
\pagestyle{empty}

% Section formatting - blue text with thin light gray line below
\titleformat{\section}
    {\Large\bfseries\color{headerblue}}
    {}
    {0em}
    {}
    [\vspace{-0.5em}\textcolor{linegray}{\rule{\textwidth}{0.4pt}}\vspace{0.3em}]

\titlespacing*{\section}{0pt}{1em}{0.5em}

% Custom commands
\newcommand{\myname}[1]{{\fontsize{28}{34}\selectfont\bfseries #1}}
\newcommand{\jobtitle}[1]{{\large\color{subtextgray}#1}}
\newcommand{\contactinfo}[1]{{\normalsize #1}}

\newcommand{\experienceentry}[3]{%
    \noindent\textbf{#1} \hfill {\color{dateblue}#2}\\
    {\color{subtextgray}#3}\par
}

\newcommand{\skillcategory}[2]{%
    \noindent{\footnotesize\color{headerblue}\textbf{#1:}} {\footnotesize #2}\par\vspace{0.05em}
}

\newcommand{\educationentry}[4]{%
    \noindent\textbf{#1} \hfill {\color{dateblue}#3}\\
    {\color{subtextgray}#2}#4\par\vspace{0.3em}
}

% List formatting
\setlist[itemize]{leftmargin=1.5em, itemsep=0.2em, parsep=0em, topsep=0.3em}
\renewcommand{\labelitemi}{\textbullet}

\begin{document}
{% endraw %}

% Header
\begin{center}
    {% raw %}\myname{{% endraw %}{{ contact.name | latex_escape }}{% raw %}}{% endraw %}\\[0.3em]
    {% raw %}\jobtitle{{% endraw %}{{ contact.title | latex_escape }}{% raw %}}{% endraw %}\\[0.3em]
    {% raw %}\contactinfo{{% endraw %}{{ contact.phone | latex_escape }} | {% if contact.email %}{% raw %}\href{mailto:{% endraw %}{{ contact.email }}{% raw %}}{{% endraw %}{{ contact.email | latex_escape }}{% raw %}}{% endraw %}{% endif %}{% raw %}}{% endraw %}
\end{center}

{% if summary %}
{% raw %}\section{Professional Summary}{% endraw %}
{{ summary | latex_escape }}
{% endif %}

{% if experience %}
{% raw %}\section{Experience}{% endraw %}
{% for job in experience %}
{% for position in job.positions %}
{% raw %}\experienceentry{{% endraw %}{{ position.title | latex_escape }}{% raw %}}{{% endraw %}{{ position.dates | latex_escape }}{% raw %}}{{% endraw %}{{ job.company | latex_escape }}{% raw %}}{% endraw %}
{% if position.achievements %}
{% raw %}\begin{itemize}{% endraw %}
{% for achievement in position.achievements %}
    {% raw %}\item {% endraw %}{{ achievement | latex_escape }}
{% endfor %}
{% raw %}\end{itemize}{% endraw %}
{% endif %}
{% endfor %}
{% if loop.index == 1 %}
{% raw %}\newpage{% endraw %}
{% endif %}
{% endfor %}
{% endif %}

{% if skills %}
{% raw %}\section{Skills}
\begin{multicols}{2}
\raggedright
{% endraw %}
{% for category, skill_list in skills.items() %}
{% if skill_list is iterable and skill_list is not string %}
{% raw %}\skillcategory{{% endraw %}{{ category | latex_escape }}{% raw %}}{{% endraw %}{{ skill_list | join(', ') | latex_escape }}{% raw %}}{% endraw %}
{% else %}
{% raw %}\skillcategory{{% endraw %}{{ category | latex_escape }}{% raw %}}{{% endraw %}{{ skill_list | latex_escape }}{% raw %}}{% endraw %}
{% endif %}
{% endfor %}
{% raw %}\end{multicols}{% endraw %}
{% endif %}

{% if education %}
{% raw %}\section{Education}
\vspace{0.2em}
\noindent\begin{tabularx}{\textwidth}{@{}X X X@{}}
{% endraw %}
{% for edu in education %}
{% raw %}\parbox[t]{0.95\linewidth}{\textbf{{% endraw %}{{ edu.degree | latex_escape }}{% raw %}}\\ {\small\color{subtextgray}{% endraw %}{{ edu.institution | latex_escape }}{% raw %}}{% endraw %}{% if edu.minor %}{% raw %}\\ {\footnotesize\color{subtextgray}Minor: {% endraw %}{{ edu.minor | latex_escape }}{% raw %}}{% endraw %}{% endif %}{% raw %}}{% endraw %}{% if not loop.last %} & {% endif %}
{% endfor %}
{% raw %}\\{% endraw %}
{% raw %}\end{tabularx}{% endraw %}
{% endif %}

{% if certifications %}
{% raw %}\section{Certifications}{% endraw %}
{% for cert in certifications %}
{% raw %}\noindent\textbf{{% endraw %}{{ cert.name | latex_escape }}{% raw %}} \hfill {\color{dateblue}{% endraw %}{{ cert.date | latex_escape }}{% raw %}}\\
{\color{subtextgray}{% endraw %}{{ cert.issuer | latex_escape }}{% raw %}}{% endraw %}{% if cert.credential_id %} -- {{ cert.credential_id | latex_escape }}{% endif %}{% raw %}\par\vspace{0.5em}{% endraw %}
{% endfor %}
{% endif %}

{% if projects %}
{% raw %}\section{Projects}{% endraw %}
{% for project in projects %}
{% raw %}\experienceentry{{% endraw %}{{ project.name | latex_escape }}{% raw %}}{{% endraw %}{{ project.dates | latex_escape }}{% raw %}}{{% endraw %}{% if project.technologies %}{{ project.technologies | join(', ') | latex_escape }}{% endif %}{% raw %}}{% endraw %}
{% if project.description or project.achievements %}
{% raw %}\begin{itemize}{% endraw %}
{% if project.description %}
    {% raw %}\item {% endraw %}{{ project.description | latex_escape }}
{% endif %}
{% if project.achievements %}
{% for achievement in project.achievements %}
    {% raw %}\item {% endraw %}{{ achievement | latex_escape }}
{% endfor %}
{% endif %}
{% raw %}\end{itemize}{% endraw %}
{% endif %}
{% endfor %}
{% endif %}

{% raw %}
\end{document}
{% endraw %}
